.post-description {
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -moz-box-orient: vertical;
    overflow: hidden;
}

#text-area {
    max-width: 100%;
    min-height: 339px;
}

.ck-editor__editable {
    min-height: 300px;
    min-width: 100%;
}
